<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.robotbana.demo.shardingjdbc.mybatisplus.mapper.AccountMapper" >

  <resultMap id="BaseResultMap" type="com.robotbana.demo.shardingjdbc.mybatisplus.entity.Account" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
  </resultMap>

  <update id="decrease">
    UPDATE account SET amount = amount - #{money} where user_id = #{userId};
  </update>

  <select id="findByUserId" resultType="decimal">
    SELECT amount FROM account WHERE user_id = #{userId};
  </select>

  <insert id="insertAccount" parameterType="com.robotbana.demo.shardingjdbc.mybatisplus.entity.Account">

    insert into account (user_id,amount) value (#{userId},#{amount})
  </insert>
</mapper>
